<link rel="stylesheet" href='/estilo.css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href='/estilo.css'>
<head>
	<style>
		.buttonEffect 
		{
  			display: inline-block;
  			padding: 7px 15px;
  			font-size: 17px;
  			cursor: pointer;
  			text-align: center;
  			text-decoration: none;
  			outline: none;
  			color: #fff;
  			background-color: #0066ff;
  			border: none;
  			border-radius: 15px;
  			box-shadow: 0 9px #999;
		}		

		.buttonEffect:hover 
		{
			background-color: #003399;
		}

		.buttonEffect:active 
		{
  			background-color: #003399;
  			box-shadow: 0 5px #666;
  			transform: translateY(4px);
		}
		.buttonUnPressed
		{
  			display: inline-block;
  			padding: 7px 15px;
  			font-size: 17px;
  			cursor: pointer;
  			text-align: center;
  			text-decoration: none;
  			outline: none;
  			color: #fff;
  			background-color: #33cc33;
  			border: none;
  			border-radius: 15px;
  			box-shadow: 0 9px #999;
		}
		.buttonPressed
		{
			display: inline-block;
  			padding: 7px 15px;
  			font-size: 17px;
  			cursor: pointer;
  			text-align: center;
  			text-decoration: none;
  			outline: none;
  			color: #fff;
  			background-color: #006600;
  			box-shadow: 0 5px #666;
  			transform: translateY(4px);
  			border: none;
  			border-radius: 15px;
		}
	</style>
</head>

<html>
	
	<header>
		<nav class="navbar navbar-inverse">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/"><mark>MUNDO WUMPUS</mark></a>
		        </div>
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		            <ul class="nav navbar-nav navbar-right">
		                <li>
		                    <h1>MULTIVERSE</h1>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>
	</header>
	<% if @wumpusvivo %> 		
		<div id="container">
			<div id="body">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>	
				<br>
				<br>
			
				<div id="direc" >
					<% if @north %>
						<% if @numberOfArrows>=1 && @pressAr%>
								<form method="post" action="/shootToTop">
									<button type="submit" name="shootTop">^</button>
								</form>
						<% elsif @pressMo %>		
							<form method="post" action="/toNorth">
								<button type="submit" name="Norte">Norte</button>
							</form>
						<% elsif @pressSp %>	
							<form method="post" action="/sprayToTop">
								<button type="submit" name="sprayTop">^</button>
							</form>
						<%end%>
					<% end %>
					<% if @south %>
						<% if @numberOfArrows>=1 && @pressAr%>
							<form method="post" action="/shootToBottom">
								<button type="submit" name="shootBot">v</button>
							</form>
						<% elsif @pressMo %>
							<form method="post" action="/toSouth">
								<button type="submit" name="Sur">Sur</button>
							</form>
						<% elsif @pressSp %>
							<form method="post" action="/sprayToBottom">
								<button type="submit" id="sprayBot">v</button>
							</form>		
						<% end %>
					<% end %>
					<% if @east %>
						<% if @numberOfArrows>=1 && @pressAr%>
							<form method="post" action="/shootToRight">
								<button type="submit" name="shootRight">></button>
							</form>
						<% elsif @pressMo %>
							<form method="post" action="/toEast">
								<button type="submit" name="Este">Este</button>
							</form>
						<% elsif @pressSp %>
							<form method="post" action="/sprayToRight">
								<button type="submit" name="sprayRight">></button>
							</form>
						<% end %>
					<% end %>
					<% if @west %>
						<% if @numberOfArrows>=1 && @pressAr%>
							<form method="post" action="/shootToLeft">
								<button type="submit" name="shootLeft"></button>
							</form>
						<% elsif @pressMo %>
							<form method="post" action="/toWest">
								<button type="submit" name="Oeste">Oeste</button>
							</form>
						<% elsif @pressSp %>
							<form method="post" action="/sprayToLeft">
								<button type="submit" name="sprayLeft"></button>
							</form>
						<% end %>
					<% end %>	
				</div>
			
				<div id="bottom-screen-holder">
					<div id="bottom-screen">
						<div id="console">
							<h4 color="white">Entraste a la cueva <%= @mensaje %></h4>
							<br></br>
							<h4> <%= $m %></h4>	
							<h4> <%= $mensajeActual %></h4>	
							<br>
							<% if @smell %>
								<h4>Se siente un olor fetido en este cuarto</h4>
							<% end %>
							<% if @whirr %>
							<h4>Se escucha un aleteo cerca</h4>
						<% end %>
						</div>
					</div>
					
				</div>
				<div id="c-stick">
						<label>Monedas:</label>
				</div>
				<div id="c-stick">
						<label><%=@monedas %></label>
				</div>
				
			
				<div id="c-stick">
					<label>Flechas: <%= @numberOfArrows %></label>
				</div>
				<br>
				<br>
				<div id="c-stick">
					<label>Spray: <%= @numberOfSpray %></label>
				</div>
			</div>
			<form method="post" action="/lockWumpus">
				<button class="buttonEffect" type="submit" name="Bloquear_Wumpus"><%= @nombreBoton %></button>
				<h4> <%= @mensajeWumpus %></h4>	
			</form>
			<form method="post" action="/pressMovement">
				<% if @pressMo %>
						<button class="buttonPressed" type="submit" name="pressMovement">Movimiento</button>
				<% else %>
						<button class="buttonUnPressed" type="submit" name="pressMovement">Movimiento</button>
				<% end %>
			</form>
			<form method="post" action="/pressShootArrow">
				<% if @pressAr %>
					<button class="buttonPressed" type="submit" name="pressShootArrow">Disparar Flecha</button>
				<% else %>
					<button class="buttonUnPressed" type="submit" name="pressShootArrow">Disparar Flecha</button>
				<% end %>
			</form>
			<form method="post" action="/pressUseSpray">
				<% if @pressSp %>
					<button class="buttonPressed" type="submit" name="pressShootSpray">Usar Spray</button>
				<% else %>
					<button class="buttonUnPressed" type="submit" name="pressShootSpay">Usar Spray</button>
				<% end %>
			</form>
	<% else %>	
		<div id="container">
			<div id="body">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>	
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>	
				
				<div id="bottom-screen-holder">
					<div id="bottom-screen">
						<div id="console">
							<h2> Venciste al Wumpus!!!!</h2>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</html>
